---
import Layout from '../layouts/Layout.astro';

// Obtener el par치metro de la URL
const { machine } = Astro.params;

---

<Layout title="404 Not Found">
  <h1>404 - P치gina No Encontrada</h1>
  <p>Lo sentimos, no pudimos encontrar la m치quina con el ID: {machine}</p>
  <p><a href="/">Volver a la p치gina principal</a></p>
</Layout>
