<footer>
	<div class="container mx-auto text-l px-4 py-6">
		🚀 By <a
		    href="https://github.com/AlejandroDavidArzolaSaavedra"
		    target="_blank"
		    class="underline hover:text-gray-300">Alejandro David Arzola Saavedra</a
		> <span class="mr-2">Join us on </span>
		    <a
		        href="https://www.linkedin.com/in/maalfer1/"
		        target="_blank"
		        class="hover:text-gray-300"
		    >
		        <i class="fab fa-linkedin"></i>
		    </a
		><a
		    href="https://discord.com/invite/dD3yVejBUR"
		    target="_blank"
		    class="hover:text-gray-300"
		>
		    <i class="fab fa-discord"></i>
		</a><a
		    href="https://t.me/elpinguinohack"
		    target="_blank"
		    class="hover:text-gray-300"
		>
		    <i class="fab fa-telegram"></i>
		</a>
	</div>
</footer>